<ul>
    <li><b>Argumento: </b>{{argumento}}</li>
    <li><b>Plataforma: </b>{{plataforma}}</li>
    <li><b>Version: </b>{{version}}</li>
    <li><b>Memoria: </b>{{memoria}}</li>
    <li><b>Id: </b>{{id}}</li>
    <li><b>Carpeta: </b>{{carpeta}}</li>
    <li><b>Numero de cpus: </b>{{cpus}}</li>
</ul>